*.swp
~*
*~
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
*.xml
vendor
_notebooks/.ipynb_checkpoints
# Local Netlify folder
.netlify
.tweet-cache
__pycache__
Gemfile.lock
settings.ini
.vscode/configurationCache.log
.vscode/targets.log
_posts/2020-02-20-test.md
_posts/2020-09-07-docker-server.md
_posts/2022-08-21-Python-Notebook.md
_posts/2022-08-26-AP-Chem-Experiment-Procedures.md
_posts/2022-08-29-Bash-Notebook.md
_posts/2022-08-29-Java-Primitives.md
_posts/2022-09-03-TEST.md
_posts/2022-09-04-Java-Notebook.md
images/copied_from_nb/my_icons/fastai_logo.png
.vscode/configurationCache.log
.vscode/targets.log
_posts/2022-09-09-if-else.md
_posts/2022-08-23-Java-Primitives.md
_posts/2022-08-25-Bash-Notebook.md
_posts/2022-08-27-AP-Chem-Experiment-Procedures.md
_posts/2022-09-14-FRQ-1.md
_posts/2022-09-15-Iteration-2D-Array.md
_notebooks/2022-10-12-Unit-1-Primitives.ipynb